<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <p>Assistant Professor of Finance, Columbia Business School. <a href="https://www.dropbox.com/scl/fi/hr5s9g9rxxbez21rdvb3y/CV_Xuelin.pdf?rlkey=jxo89p57nyn63276ufwej74l3&dl=0" target="_blank">Curriculum Vitae</a>.<br/>Contact: <a href="mailto:xuelin.li@columbia.edu" target="_blank">xuelin.li[at]columbia.edu</a>, <a href="https://twitter.com/XuelinLester" target="_blank"> @XuelinLester</a><br/>
        </p>
        
        <div class="home">
         <img
            src="{{ page.profile_picture.src | absolute_url }}"
            alt="{{ page.profile_picture.alt }}"
            class="profilepic"
          /> 
          {{ content }}
        </div>
      </div>
    </div>
  {% include foot.html %}
  </body>
</html>
